.genre-container {
    text-align: center;
}

.genre-container img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.genre-container img:hover {
    transform: scale(1.1); /* Increase scale on hover */
}

.genre-container h2 {
    color: #F49867;
    text-align: center;
}
